/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


.border-top {
    border-top: 1px solid #e5e5e5;
}
.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 45px;
    text-align: right;
    color: white;
    font-weight: bold;
    background-color: blue;
    padding-right: 15px;
}

.header {
    line-height: 60px;
    text-align: left;
    color: white;
    font-weight: bold;
    background-color: blue;
    padding-left: 15px;
}

.main-body{
    padding: 0,0,0,0;
    margin: 0,0,0,0;
}

.board-header {
    text-align: left;
    color: blue;
    font-weight: bold;
}

.list-group-item {
    border: none !important;
}

body{
    background-color: lavender
}

.body-text {
    font-size: 1.2rem;
}